parameters:
	ignoreErrors:
		-
			message: '#^Action callback returns bool but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: bp-favorite-notification.php

		-
			message: '#^Constant BPFN_PLUGIN_BASENAME not found\.$#'
			identifier: constant.notFound
			count: 1
			path: includes/admin/class-bpfn-admin.php

		-
			message: '#^Constant BPFN_PLUGIN_PATH not found\.$#'
			identifier: constant.notFound
			count: 1
			path: includes/functions/api-functions.php

		-
			message: '#^Constant BPFN_PLUGIN_URL not found\.$#'
			identifier: constant.notFound
			count: 1
			path: includes/functions/api-functions.php

		-
			message: '#^Parameter \#1 \$text of function esc_attr expects string, int\<min, \-1\>\|int\<1, max\> given\.$#'
			identifier: argument.type
			count: 2
			path: includes/modules/class-favorite-display.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: includes/modules/class-favorite-display.php
